
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }

body { display: flex; flex-direction: column; }
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#search-form {
    display: flex;
    justify-content: space-around;
    margin: 32px auto;
    transition: 500ms;
}

input { border: none; padding: 1em; border-radius: 8px; background: lightgrey; margin-right: 1em; }
button { border: 2px solid black; padding: 1em; border-radius: 8px; }

#search-result {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    overflow: auto;

    border-top: 2px solid black;
}

#search-result .result-item {
    display: flex;
    background: lightgrey;
    border-radius: 8px;
    border: none;
    padding: 0.5em;
    margin: 1em;
}

#search-result a.name {
    text-decoration: inherit; color: inherit;
}

#search-result a.link {
    margin-left: auto;
    font-weight: bold;
    text-decoration: inherit; color: inherit;
}

#blank-result {
    padding: 0.5em;
    margin: 1em auto;
}

#error-result {
    padding: 0.5em;
    margin: 1em auto;
}

#bounce-back {
    width: inherit;
    height: 48px; /* will be overwritten by infinite-scroll.js */
    text-align: center;
    line-height: 48px;
    background: grey;
    color: white;
    font-weight: bold;
    scroll-behavior: smooth;
    position: absolute;
    top: 100%;
}